{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Products</h1>

<p>
    <a href="{{ url_for('products.create_product') }}">
        Create Product
    </a>
</p>

{% if products %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Unit Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.model }}</td>
                <td>${{ "%.2f"|format(product.unit_price) }}</td>

                <td>
                    {% if product.is_active %}
                        Active
                    {% else %}
                        Inactive
                    {% endif %}
                </td>

                <td>
                    <a href="{{ url_for('products.product_detail', product_id=product.id) }}">
                        View
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No products found.</p>
{% endif %}
{% endblock %}